# vscode
.vscode/

# Python缓存
__pycache__/
*.pyc

# 工具链
lubancat_ai_manual_code/
rknn-toolkit2/
rknn-toolkit2-1.5.0/

rknn_model_zoo-2.3.2/
rknn-toolkit2-2.3.2/

lubancat_ai_manual_code/

guoyi_test _mine/
already_accept/

# 图片数据
*.jpg
*.png